# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS Files
*.pdb
*.tlog
*.idb
*.ilk
*.ipch
*.recipe
*.iobj
*.ipdb


prj/xcode4/ios/obj/
prj/xcode4/macos/obj/
prj/vs2019/obj/x32/Release/
prj/vs2019/obj/x32/Debug/
test/MemoryLeakTests/Release/
test/MemoryLeakTests/Debug/
prj/vs2019/obj/x64/Debug/
prj/vs2019/obj/x64/Release/
test/MemoryLeakTests/.vs/
prj/vs2019/.vs/
prj/vs2019/MemoryLeaksTracker.vcxproj.user
test/MemoryLeakTests/MemoryLeakTests.vcxproj.user
