# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
prj/vs2019/.vs/MemoryLeaksTracker/v16/.suo
prj/vs2019/.vs/MemoryLeaksTracker/v16/Browse.VC.db
*.tlog
prj/vs2019/obj/x32/Debug/MemoryLeaksTracker.log
prj/vs2019/obj/x32/Debug/MemoryLeaksTracker_x86_d.lib.recipe
prj/vs2019/MemoryLeaksTracker.vcxproj.user
test/MemoryLeakTests/MemoryLeakTests.vcxproj.user
*.idb
test/MemoryLeakTests/Debug/MemoryLeakTests.log
*.ilk
test/MemoryLeakTests/Debug/MemoryLeakTests.exe.recipe
test/MemoryLeakTests/.vs/MemoryLeakTests/v16/Solution.VC.db
*.ipch
test/MemoryLeakTests/.vs/MemoryLeakTests/v16/Browse.VC.db
test/MemoryLeakTests/.vs/MemoryLeakTests/v16/.suo
prj/vs2019/obj/x32/Debug/MemoryLeaksTracker_x86_d.Build.CppClean.log
prj/vs2019/obj/x32/Debug/MemoryLeaksTracker.vcxproj.FileListAbsolute.txt
test/MemoryLeakTests/Debug/MemoryLeakTests.vcxproj.FileListAbsolute.txt
